*{
    margin: 0px;
    padding: 0px;
}
.bilgi{
    display: flex;
    background-color: #ddd;
    height: 100px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: black;
}
.res{
    width: 380px;
    height: 380px;
}
.res2{
    width: 700px;
    height: 730px;
}
.btn{
    width: 400px;
    height: 400px;
}
.modal-content {
    width: 720px; 
    height: 780px;
}
.modal-footer {
    display: flex;
    justify-content: center; 
}